{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <h1>Login</h1>

    <form action="{{ url_for('index') }}" method="post">

        <div class="form-group">
            <input class="form-control" name="user" placeholder="User ID">
            <input name="password" type="password" placeholder="Password">
            <p></p>

            <div class="form-group">
                <button class="btn btn-primary">Login</button>
            </div>

            <p>Not registered yet?</p>

            <div class="form-group">
            <button class="btn btn-primary">Register</button>
            </div>
        </div>

    </form>
{% endblock %}
